@import 'reset';

body {
  font-family: fira, sans-serif;
  text-align: center;
}
h1 {
  font-size: 4em;
  margin: 10px;
}
.bad {
  border: 2px solid red;
  box-shadow: red 0px 0px 11px 3px;
}
input.big-box {
  font-size: 3em;
  padding: 5px;
  width: 75%;
  text-align: center;
}
div#start-button {
  padding: .5em;
  font-size: 5em;
  i.fa-stack-2x {
    color: #fff;
    background-color: #A72B2B;
    border-radius: 200px;
  }
}
.itsa-button {
  transition: all .2s ease-in-out;

}
.itsa-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: green;
 // background-color: white;
}
.fa-counter-spin {
  -webkit-animation: spin-counter 2s infinite linear;
  -moz-animation: spin-counter 2s infinite linear;
  -o-animation: spin-counter 2s infinite linear;
  animation: spin-counter 2s infinite linear;
}
@-moz-keyframes spin-counter {
  0% {
    -moz-transform: rotate(359deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin-counter {
  0% {
    -webkit-transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes spin-counter {
  0% {
    -o-transform: rotate(359deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes spin-counter {
  0% {
    -ms-transform: rotate(359deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes spin-counter {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

rect {
  fill: none;
  pointer-events: all;
}

.node {
  fill: #154d58;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}
#current-url {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: blue;
  text-decoration: underline;
}